@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
body{
  background-color: white;
  overflow-x: hidden;
}
.header{
  font-family: 'Lilita One', sans-serif;
  font-size: 80px;
}
.introduction{
  margin: 30px;
}

.text{
  width:45%;
  margin: 30px 0px 0px 10px;
  float: left;
  font-size: 20px;
  font-family: 'Arvo', sans-serif;
}

.sunflowerImage{
  width: 80%;
}

.flower{
  width: 45%;
  float:right;  
  margin: 30px 30px 0px 0px;
}
