
body{
    background-color: white;
    overflow-x: hidden;
}
#sliderSunflower1 {
  position: absolute;
  width: 190%;
  height: 100%;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
#sliderLavender1 {
  position: absolute;
  width: 10%;
  height: 100%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

.slide-in {
  animation: slide-in 1.5s forwards;
  -webkit-animation: slide-in 1.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}

