body{
    background-color: white;
    margin: 0;
    font-family: 'Anek Latin', sans-serif;
    }



    




.TeganRM{
    font-family: 'Anek Latin';
    color:#73737e;
    font-size: 90%;
    float: left ;
    padding-right: 35%;
    font-weight: 100;
  }


.Navigation {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(119, 119, 119, 0.2);
    font-family: 'Montserrat';
    padding-top: 2.5%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-grow: 0;
  }
  
  .Navigation a {
    float: right;
    color: #73737e;
    text-decoration: none;
    font-size: 60%;
    margin-right:30px;

  }
  
   .Navigation a:hover {
    color: black;
    
  }
  
  .Navigation a.active {
    color: #1a1b1f;    
  }
  
 .Navigation a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  }

  .logo{
    max-width: 100%;
    flex-basis: 10%;
  }
  
















  
.h2{
  font-family: 'Anek Latin';
  padding-left: 5%;
  color:#73737e;
  font-size: 300%;
  font-weight: 400;
}


.p1{
    font-family: 'Anek Latin';
    padding-left: 5%;
    font-size: 150%;
    font-weight: 400;
    padding-right: 5%;

    
}

.content{
  display: flex;
    align-items: top;
    justify-content: center;
    text-align: justify;
    flex-grow: 0;
}

      .p2{
        font-family: 'Anek Latin';
        padding-right: 5%;
        padding-left: 5%;
      
      }
      .circle1{
        float: right;
        flex-basis: 100%
        
      }










.slideLeft {
  animation-name: slideLeft;
  -webkit-animation-name: slideLeft;
  animation-duration: 1s;
  -webkit-animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@keyframes slideLeft {
  0% {
      transform: translateX(150%);
  }
  50% {
      ransform: translateX(-8%);
  }
  65% {
      transform: translateX(4%);
  }
  80% {
      transform: translateX(-4%);
  }
  95% {
      transform: translateX(2%);
  }
  100% {
      transform: translateX(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
      -webkit-transform: translateX(150%);
  }
  50% {
      -webkit-transform: translateX(-8%);
  }
  65% {
      -webkit-transform: translateX(4%);
  }
  80% {
      -webkit-transform: translateX(-4%);
  }
  95% {
      -webkit-transform: translateX(2%);
  }
  100% {
      -webkit-transform: translateX(0%);
  }
}
.slideRight {
  animation-name: slideRight;
  -webkit-animation-name: slideRight;
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}
@keyframes slideRight {
  0% {
      transform: translateX(-150%);
  }
  50% {
      transform: translateX(8%);
  }
  65% {
      transform: translateX(-4%);
  }
  80% {
      transform: translateX(4%);
  }
  95% {
      transform: translateX(-2%);
  }
  100% {
      transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
      -webkit-transform: translateX(-150%);
  }
  50% {
      -webkit-transform: translateX(8%);
  }
  65% {
      -webkit-transform: translateX(-4%);
  }
  80% {
      -webkit-transform: translateX(4%);
  }
  95% {
      -webkit-transform: translateX(-2%);
  }
  100% {
      -webkit-transform: translateX(0%);
  }
}